.div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    color: white;
}   

.div-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: darkblue;
    color: white;
}