*{

    padding: 0;
margin: 0;


}
.navbar{
    display:flex;
    justify-content: ;space evenly;
align-items: center;
padding 0 100px;


}
.heroimage img{
    width: 600px;
    hight: 600px;
    object-fit: cover;

}
background color